.content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    color:rgb(28, 119, 63); 
}

.red{
    color:red;
}

.blue{
    color:blue;
}

.orange{
    color:orange;
}

.green{
    color:green;
}

.olivegreen{
    color:olive;
}

.darkgreen{
    color:darkgreen;
}

#pink{
    color:rgb(255, 58, 196);
}

#under {
    text-decoration: underline;
}

#italics {
    font-style: italic;
}

/*Tabla*/
table, td, th {
    border: 1px solid black;
  }

table{
    border-collapse: collapse;
}
